
*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*
*_ReSharper.*/

*/*/Resource.designer.cs
*/*/*/Resource.designer.cs
*/*/*/*/Resource.designer.cs

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.app/FlipsideViewController.nib

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.app/MainViewController.nib

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.exe

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.exe.mdb

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.exe.mdb

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.app/FlipsideViewController.nib

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.app/MainViewController.nib

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.exe

Nanny/Nanny/bin/iPhoneSimulator/Debug/Nanny.exe.mdb
